<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title></title>
	
	
</head>
<body lang="es-AR" bgcolor="#ffffff" dir="ltr">
<p align="center" ><strong>
<u>DILATACIÓN
PUPILAR:</u></strong></p>
<p >Dilatación
  pupilar intraoperatoria: pasos</p>
<p >-
Lidocaína 1-2% x 0,3-0,5 ml</font></p>
<p > -
  Epinefrina 1:100.000 x 0,25 ml con o sin lidocaína</font></p>
<p > -
  Fenilefrina 1.5% x 0,3 ml</font></p>
<p > -
  Epi-Shugarcaína: epinefrina 0.0025% + lidocaína 0.75% + Solución
  salina balanceada (BSS) plus.</font></p>
<p style="margin-left: 1.27cm; text-indent: -0.64cm;"><strong>1.Mid</strong><b>riasis
  farmacológica</b><font color="#ff0000" style="font-size: 8pt"><b>1,2,3,4,5,6,7,8,11,13,15</b></font>:
variantes</font></p>
<p style="margin-left: 1.27cm; text-indent: -0.64cm;"> <b>2.
  Viscomidriasis: </b></font>aplicar
    viscoelástico dispersivo en zona de iris y ángulo y luego
    viscoelástico cohesivo en la zona central de la cámara anterior
(para retener al dispersivo en la zona periférica).</font><font color="#ff0000"><font size="1" style="font-size: 8pt"><b>9,10,11,</b></font></font></p>
<p style="margin-left: 1.27cm; text-indent: -0.64cm;"> <b>3.
  Sinequiólisis / Membranectomía pupilar: </b></font>con
espátula roma de ciclodiálisis.</font><font color="#ff0000"><font size="1" style="font-size: 8pt"><b>10</b></font></font></p>
<p style="margin-left: 1.27cm; text-indent: -0.64cm;"> <b>4.
  Estiramiento (Stretching) / Sistemas de dilatación </b></font>(por
ej. Ganchos de iris, Malyugin, etc).</font><font color="#ff0000"><font size="1" style="font-size: 8pt"><b>10,14</b></font></font></p>
<p style="margin-left: 1.27cm; text-indent: -0.64cm;"> <b>5.
  Esfinterotomías: con tijera de Vannas (realizar cortes
perpendiculares a las fibras del esfínter iridiano).</b></font><font color="#ff0000"><font size="1" style="font-size: 8pt"><b>10</b></font></font></p>
<p ><b>Atención:
  seguir los pasos para evitar o dejar como último recurso las
  maniobras más cruentas, como por ej. las esfinterotomías.</b></font></p>
<p ><u><b>BIBLIOGRAFÍA
  DILATACIÓN PUPILAR: </b></u></font></p>
<p > <b>1. </b></font><a href="http://www.ncbi.nlm.nih.gov/pubmed?term=Morgado%20G%5BAuthor%5D&amp;cauthor=true&amp;cauthor_uid=20491047">Morgado
  G</a>, <a href="http://www.ncbi.nlm.nih.gov/pubmed?term=Barros%20P%5BAuthor%5D&amp;cauthor=true&amp;cauthor_uid=20491047">Barros
    P</a>, <a href="http://www.ncbi.nlm.nih.gov/pubmed?term=Martins%20J%5BAuthor%5D&amp;cauthor=true&amp;cauthor_uid=20491047">Martins
      J</a>, <a href="http://www.ncbi.nlm.nih.gov/pubmed?term=Lima%20A%5BAuthor%5D&amp;cauthor=true&amp;cauthor_uid=20491047">Lima
        A</a>, <a href="http://www.ncbi.nlm.nih.gov/pubmed?term=Martins%20N%5BAuthor%5D&amp;cauthor=true&amp;cauthor_uid=20491047">Martins
          N</a>. Comparative study of mydriasis in cataract surgery: topical
  versus Mydriasert versus intracameral mydriasis in cataract surgery. <a href="http://www.ncbi.nlm.nih.gov/pubmed/?term=eur+j+ophthalmol++2010%3B20%3A989-93#">Eur
    J Ophthalmol.</a> 2010 Nov-Dec;20(6):989-93.</font></p>
<p ><b>2. </b>János Hargitai,
  László Vezendi, Jørgen Vigstrup, Finn Eisgart, Søren Lundbye
  -Christensen, Bálint Hargitai and Henrik Vorum. Comparing the
  efficacy of mydriatic cocktail-soaked sponge and conventional pupil
  dilation in patients using tamsulosin – a randomized controlled
  trial.</p>
<p ><b>3. </b>Seanna R Grob, Luis
  A Gonzalez- Gonzalez Mary K Daly. Management
  of mydriasis and pain in cataract and intraocular lens surgery:
  review of current medications and future directions. Clinical
  Ophthalmology 2014:8 1281–1289.</p>
<p ><b>4. </b><a href="http://www.ncbi.nlm.nih.gov/pubmed?term=Zanetti%20FR%5BAuthor%5D&amp;cauthor=true&amp;cauthor_uid=22824596">Zanetti
  FR</a>, <a href="http://www.ncbi.nlm.nih.gov/pubmed?term=Fulco%20EA%5BAuthor%5D&amp;cauthor=true&amp;cauthor_uid=22824596">Fulco
    EA</a>, <a href="http://www.ncbi.nlm.nih.gov/pubmed?term=Chaves%20FR%5BAuthor%5D&amp;cauthor=true&amp;cauthor_uid=22824596">Chaves
      FR</a>, <a href="http://www.ncbi.nlm.nih.gov/pubmed?term=da%20Costa%20Pinto%20AP%5BAuthor%5D&amp;cauthor=true&amp;cauthor_uid=22824596">da
        Costa Pinto AP</a>, <a href="http://www.ncbi.nlm.nih.gov/pubmed?term=Arieta%20CE%5BAuthor%5D&amp;cauthor=true&amp;cauthor_uid=22824596">Arieta
          CE</a>, <a href="http://www.ncbi.nlm.nih.gov/pubmed?term=Lira%20RP%5BAuthor%5D&amp;cauthor=true&amp;cauthor_uid=22824596">Lira
            RP</a>. Effect of preoperative use of topical prednisolone acetate,
  ketorolac tromethamine, nepafenac and placebo, on the maintenance of
  intraoperative mydriasis during cataract surgery: a randomized trial. <a href="http://www.ncbi.nlm.nih.gov/pubmed/22824596#">Indian J
    Ophthalmol.</a> 2012 Jul;60(4):277-81.</p>
<p ><b>5.</b> Saenz-de-Viteri
  M, Fern<span lang="zh-CN"><span lang="zh-CN">佗</span></span>ndez-Robredo
  P, de Nova E, Bonet- Farriol E, Sabater AL, Zarranz-Ventura J, Caire
  J, S<span lang="zh-CN"><span lang="zh-CN">佗</span></span>daba
  LM, Salinas-Alam<span lang="zh-CN"><span lang="zh-CN">佗</span></span>n
  A, Garc<span lang="zh-CN"><span lang="zh-CN">侏</span></span>a-Layana
  A. Comparative study measuring the dilatory effect of a mydriatic
  device (Mydriasert<span lang="zh-CN"><span lang="zh-CN">誖 </span></span>)
  versus topical drops. 2013;6(6):801-804.</p>
<p ><b>6.</b> Sanjiv K Gupta, Ajai Kumar1,
  Swati Agarwal, Siddarth Agarwal. Phacoemulsification without
  preoperative topical mydriatics: Induction and sustainability of
  mydriasis with intracameral mydriatic solution. Indian J Ophthalmol.
  62(3): 333-336.</p>
<p ><b>7.</b> <a href="http://www.ncbi.nlm.nih.gov/pubmed?term=Handzel%20DM%5BAuthor%5D&amp;cauthor=true&amp;cauthor_uid=22690253">Handzel
  DM</a>1, <a href="http://www.ncbi.nlm.nih.gov/pubmed?term=Briesen%20S%5BAuthor%5D&amp;cauthor=true&amp;cauthor_uid=22690253">Briesen
    S</a>, <a href="http://www.ncbi.nlm.nih.gov/pubmed?term=Rausch%20S%5BAuthor%5D&amp;cauthor=true&amp;cauthor_uid=22690253">Rausch
      S</a>, <a href="http://www.ncbi.nlm.nih.gov/pubmed?term=K%C3%A4lble%20T%5BAuthor%5D&amp;cauthor=true&amp;cauthor_uid=22690253">Kälble
        T</a>. Cataract surgery in patients taking alpha-1 antagonists: know
  the risks, avoid the complications. <a href="http://www.ncbi.nlm.nih.gov/pubmed/22690253#">Dtsch
    Arztebl Int.</a> 2012 May;109(21):379-84. </p>
<p ><b>8. </b><a href="http://www.ncbi.nlm.nih.gov/pubmed?term=Zaman%20F%5BAuthor%5D&amp;cauthor=true&amp;cauthor_uid=24917702">Zaman
  F</a>, <a href="http://www.ncbi.nlm.nih.gov/pubmed?term=Bach%20C%5BAuthor%5D&amp;cauthor=true&amp;cauthor_uid=24917702">Bach
    C</a>, <a href="http://www.ncbi.nlm.nih.gov/pubmed?term=Junaid%20I%5BAuthor%5D&amp;cauthor=true&amp;cauthor_uid=24917702">Junaid
      I</a>, <a href="http://www.ncbi.nlm.nih.gov/pubmed?term=Papatsoris%20AG%5BAuthor%5D&amp;cauthor=true&amp;cauthor_uid=24917702">Papatsoris
        AG</a>, <a href="http://www.ncbi.nlm.nih.gov/pubmed?term=Pati%20J%5BAuthor%5D&amp;cauthor=true&amp;cauthor_uid=24917702">Pati
          J</a>, <a href="http://www.ncbi.nlm.nih.gov/pubmed?term=Masood%20J%5BAuthor%5D&amp;cauthor=true&amp;cauthor_uid=24917702">Masood
            J</a>, <a href="http://www.ncbi.nlm.nih.gov/pubmed?term=Buchholz%20N%5BAuthor%5D&amp;cauthor=true&amp;cauthor_uid=24917702">Buchholz
              N</a>. The floppy iris syndrome - what urologists and
  ophthalmologists need to know. <a href="http://www.ncbi.nlm.nih.gov/pubmed/24917702#">Curr
    Urol.</a> 2012 May;6(1):1-7. doi: 10.1159/000338861. Epub 2012 Apr
  30.</p>
<p ><b>9.</b> <a href="http://www.ncbi.nlm.nih.gov/pubmed?term=Arshinoff%20SA%5BAuthor%5D&amp;cauthor=true&amp;cauthor_uid=23889867">Arshinoff
  SA</a>1, <a href="http://www.ncbi.nlm.nih.gov/pubmed?term=Norman%20R%5BAuthor%5D&amp;cauthor=true&amp;cauthor_uid=23889867">Norman
    R</a>. Tri-soft shell technique.<a href="http://www.ncbi.nlm.nih.gov/pubmed/23889867#">J
      Cataract Refract Surg.</a> 2013 Aug;39(8):1196-203. </p>
<p style="margin-right: 2.65cm; margin-bottom: 0cm; line-height: 150%"> <b>10.</b> Ahmet Akman, Gürsel Yilmaz,
  Sibel Oto, Yonca Aydin Akova. Comparison of various pupil dilatation
  methods for phacoemulsification in eyes with a small pupil secondary
  to pseudoexfoliation.Ophthalmology: Journal of the AAO, Vol. 111,
  Issue 9, p1693–1698.</p>
<p ><b>11.</b> Ramón Lorente, Victoria de
  Rojas, Paula Vázquez de Parga, Claudio Moreno, Juan Varela, Maria
  Luisa Landaluce, Julia Méndez, Betty Lorente. Intracameral
  Phenylephrine 1.5% for Prophylaxis against Intraoperative Floppy Iris
  Syndrome: Prospective, Randomized Fellow Eye Study. Ophthalmology:
  Vol. 119, Issue 10, p2053–2058.</p>
<p ><b>12.</b> Steve A. Arshinoff. Using BSS
  with viscoadaptives in the ultimate soft-shell technique. J Cataract
  Refract Surg 2002; 28:1509–1514.</p>
<p ><b>13.</b> Lames P Mc Cullen. Ketorolac
  versus Nepafenac in cataract surgery. J Cataract Refract Surg 2008;
  34 (Letters). </p>
<p ><b>14.</b> Michal Wilczynski, Magdalena
  Kucharczyk. Phacoemulsification with Malyugin ring in an eye with
  iridoschisis, narrow pupil, anterior and posterior synechiae: case
  report. Eur J Ophthalmol 2013; 23 (6): 909-912. </p>
<p ><b>15.
</b>Jonas JB, Nangia V,
Matin A, Bhojwani K, Sinha A, et al. (2013) Pseudoexfoliation:
Normative Data and Associations. The Central India Eye and Medical
Study. PLoS ONE 8(10): e76770.</font></p>
<p ><br/>
</p>
<p ><br/>
</p>
</body>
</html>