<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title></title>	
	
</head>
<body lang="es-AR" bgcolor="#ffffff" dir="ltr">
<p align="center" >
  <u><b>ALERGIA A PENICILINA</b></u></p>
<p >Para
su diagnóstico es importante una anamnesis exhaustiva (presencia de
ataque previo), examen físico realizado por el médico clínico y
pruebas in vitro o in vivo (opcionales)<font color="#ff0000"><b>1</b></font>.
Reacción cruzada con Cefalosporinas.</p>
<p >Para
tratar estos pacientes se deben buscar fármacos alternativos, a
saber: </p>
<p >Macrólidos:</p>
<ul>
	<li/><b>Eritromicina</b>:
	250 mg 4 veces x día
<li/><b>Azitromicina</b> (&gt; actividad contra G-): 1g x día
<li/><b>Claritromicina</b> (&gt; actividad G+ y G-): 500mg 2 veces x día
<li/><b>Espiramicina </b> 
<li/><b>Telitromicina </b>(para
  Estrepto. Pneumoniae resistente a eritromicina y penicilina).
</ul>
<p >Recordar
los efectos adversos gastrointestinales (náuseas, vómitos,
gastritis, etc.) de los macrólidos<font color="#ff0000"><b>1</b></font>.</p>
<p ><b>BIBLIOGRAFÍA
ALERGIA A PENICILINA Y DERIVADOS: </b></p>
<ol>
  <li>De Fer TM, Brisco MA y
    Mullur RS. Manual Washington.  1° ed. Barcelona, España 2011.</li>
</ol>
</body>
</html>