<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Documento sin t&iacute;tulo</title>
<style type="text/css">
<!--
.Estilo1 {
	font-size: 9px;
	color: #FF0000;
}
-->
</style>
</head>

<body>

<p align="center" dir="ltr"><strong>IRIDOPLASTIAS</strong></p>
<br />
<br />

<p dir="ltr">Al realizar el abordaje terapéutico de la patología iridiana, es importante considerar el tamaño del defecto, la cantidad y calidad del tejido restante, la sintomatología, las opciones (quirúrgicas o no), las cosmesis y el deseo del paciente de solucionar su problema. </p>
<br />

<p dir="ltr">Todas las técnicas se realizan con agujas rectas montadas en polipropileno.</p>
<br />

<p dir="ltr">Didácticamente podemos diferenciar los defectos en:</p>
<p dir="ltr"> </p>
<ul>
  <li dir="ltr">
    <p dir="ltr">Rotura focal del esfínter iridiano con o sin compromiso de raíz de iris: dan encandilamiento, pérdida de visión, acomodación y fotofobia. </p>
  </li>
</ul>
<p dir="ltr">Técnica quirúrgica: sutura simple (A) o técnica de Siepser (B) a través de una incisión de 2,2 mm y una paracentesis de 1 mm para lograr la coaptación de los bordes<span class="Estilo1">1,2</span>. Consejo: no ajustar demasiado los puntos ya que provoca isquemia y necrosis del tejido.</p>
<br />

<p dir="ltr">A</p>
<p dir="ltr"><img src="https://lh5.googleusercontent.com/RExH9hnHed_MGAlgtgaIl7z5TehB92v-30WqyRpmxXTC5g0AVwLSQN814M742wlQqu_U6LHQ1pcbcma-jxHGQpLw4V5H8KnmCCGSFaz2wM6PM-lcz4SeKJx4zPz9ZqogEGH1kqC8" width="207" height="181" alt="08.png"/><img src="https://lh3.googleusercontent.com/slEJUibseCJj_tYC2e-8v2L13_bcvOXVF8mUrjRucxTnlC1lWc4urysPYihgXk-XwOkdCbZMJQ7naVK03l3_95oJ6nr48HUhvH1FctQU_3x9BfjenrTPykht5U-UU3mwUKAIxNtR" width="181" height="185" alt="09.png"/><img src="https://lh6.googleusercontent.com/DUZMlN-uWXqrZUzEag2H4GfKztQQujc5O5MSNbSt6Dw2Y3FszGTt_7QKDd4YGVET0pdhox8qE9Kp-VucWshXKMToGK0xVr2sVqfG4g1bm89YgMYX_zENgaazMyXvt-Yek2Z0I4Pz" width="181" height="184" alt="33.png"/></p>
<br />

<p dir="ltr">B</p>
<p dir="ltr"><img src="https://lh3.googleusercontent.com/mmVvVKd3-RuzONUVk8ViOJJtuZW05mZ-xEB5A0SDx2nN2EdUMuJN9l5K6oC-CJZ497Tn08CMriwbCPVFnNH6gAUVz8eAc3k0PY7qbZLNO8gRZK_cA-vLgeRiA3BtN0XaxPzd_4BK" width="230" height="205" alt="36.png"/><img src="https://lh4.googleusercontent.com/Wf5xU5nSKGY4iTO255vKSQ1WSL57qUhBymL1LOzCLMVjHrvua6XNJ9CyKn3GYvVKFOW-OivtNej-qnYgD9U7w7bRoQmP5C7AxzbtVf9z1N4GtTFbTYbCsfKJ0JluTqwUz4BsIP4v" width="237" height="206" alt="37.png"/></p>
<br />

<ul>
  <li dir="ltr">Iridodiálisis: pueden dar encandilamiento, diplopía y fotofobia con o sin pérdida de visión. </li>
</ul>
<p dir="ltr">Técnica quirúrgica: realizar un bolsillo o flap escleral a 1,5 mm del limbo, paracentesis de 1mm a 180º de la diálisis, pasar la aguja por el borde del defecto hasta externalizarla en esclera y luego anudar. Cerrar bolsillo o flap con pegamento tisular o sutura de nylon 10-0<span class="Estilo1">1,3</span>.</p>
<br />

<p dir="ltr"><img src="https://lh5.googleusercontent.com/J9V2NNZwphU8_JUmu2Jvv6IZIm8VNSPqzuHPKj6gwm0erXyhLiBi8K9YlM4p-9VVfXuQWDyFggMOiLmsf6IC5aqQpJPP3-o4HbrU57-PSpat1Vb8APhEAcNcX5O-P_JO6FwIf5t2" width="176" height="176" alt="10-2.png"/><img src="https://lh6.googleusercontent.com/nEqG05wcQeVtucDX7Ir09dfpBMIGC8VXP6ho8Skq1Cep5YmaQJ976Jzt4_p5UBI2HjteTgOAs5zcFG02KkzdfFUsWwpfaVaLgxRF0EkW4Dud2wE6Y-XMrFJw2bJXO1g5BZUflecp" width="174" height="174" alt="12.png"/><img src="https://lh5.googleusercontent.com/TtyHeWX7BngfHWspt0hjJwW-IY6AWpXnqAc04RbkiTedQmSeZTaebemeg0AuBRMKHd0RohtWZorbvJHK_4J9sKGIfk9SP5xv32uUin37T2kET3X7BcDL2U2ZUoil0bVySY9y3H0A" width="158" height="182" alt="35.png"/></p>
<br />
<br />

<ul>
  <li dir="ltr">Daño completo del esfínter iridiano (pupila midriática): dan fotofobia, encandilamiento, pérdida de visión y acomodación. </li>
</ul>
<p dir="ltr"> Técnica quirúrgica: realizar incisión principal de 2,2 mm y 3 paracentesis de 1 mm equidistantes al centro corneal, luego se sutura el margen iridiano con la ayuda de una micropinza y una cánula de 27G que se introduce por la paracentesis, la aguja se inserta en la luz de la cánula y luego se externaliza la cánula y la aguja por la paracentesis. Al desmontar la aguja se introduce por la misma paracentesis que salió. Se repite el proceso configurando un patrón circular de sutura, denominado cerclaje pupilar<span class="Estilo1">4</span>. </p>
<br />

<p dir="ltr"><img src="https://lh6.googleusercontent.com/RKO74L8RXrz5MlvBzlvF6lRRbpM0b7625Dy42Vzuco0POzrxAEDTw_vOV4o_mY1H5WFbgUBilzgQOIyK-NdqQYu7mXA_qFhKVIXmB1fBhVdJzSyqQ5AmP8Ew1Bf8oAhzMNhaZWZ7" width="196" height="195" alt="13.png"/><img src="https://lh3.googleusercontent.com/B0AtYA6R7T_Stf895N_wvXwmHe81TfFtaVQ5fNctOtLnldm89rJUR1XNKxISiEkPgRQjGlVBP9-qEzfkv8eDMGdwoztKcrxK9-IMY2Rl5lrzBJtniMcskdjhbqachtbhJmsdD9yG" width="185" height="198" alt="15.png"/><img src="https://lh4.googleusercontent.com/S9KFeR_B5cewExXgqhm_xyFf0KEsmVSsx1rxFfGAPxBb8madRHaoO6SZbKB83uMHNxT3P1jH1pS0rlf94J5qZPBDdUjX8FzE77JslQbp2aZbBccqlEj1SWUTdUSR57mmv4wghRSh" width="197" height="202" alt="34.png"/></p>
<br />

<p dir="ltr">Para defectos de mayor tamaño se utilizan las protesis iridianas, los anillos de Morcher o iris artificiales<span class="Estilo1">5,6</span>.</p>
<br />

<p dir="ltr">BIBLIOGRAFÍA IRIDOPLASTIA:</p>
<br />

<ol>
  <li dir="ltr">
    <p dir="ltr">Banta JT. Traumatismos oculares. Madrid 2008; 2: 67-88.</p>
  </li>
  <li dir="ltr">
    <p dir="ltr">Siepser SB. The closed chamber slipping suture technique for iris repair. Am Ophthalmol. 1994; 26:71-2.</p>
  </li>
  <li dir="ltr">
    <p dir="ltr">José Belmonte Martinez et al. Atlas de técnicas complejas de la cirugía de segmento anterior. Monografía SECOIR 2013, España; 4: 55-71.</p>
  </li>
  <li dir="ltr">
    <p dir="ltr">Ogawa GSH. The iris cerclage suture for permanent mydriasis: a running suture technique. Ophthalmic Surg Lasers. 1998;29:1001-9.</p>
  </li>
  <li dir="ltr">
    <p dir="ltr">Burk et al. Prosthetic iris implantation for congenital, traumatic or functional iris deficiencies. J Cataract Refract Surg. 2001; 27:1732-1740.</p>
  </li>
  <li dir="ltr">
    <p dir="ltr">Shareef FJ et al. Engineering a light-attenuating artificial iris. Invest Ophthalmol Vis Sci. 2016 Apr 1;57 (4): 2195-202.</p>
  </li>
</ol>
</body>
</html>
