<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Documento sin t&iacute;tulo</title>
<style type="text/css">
<!--
.Estilo1 {
	color: #FF0000;
	font-weight: bold;
	font-size: 9px;
}
-->
</style>
</head>

<body>

<p dir="ltr">Se debe preguntar al paciente por antecedentes de<strong> manejo frecuente de automóvil de noche, astigmatismos regulares</strong> (menores a 0,50 D), <strong>retina normal y pacientes con expectativas reales</strong>. </p>
<br />

<p dir="ltr">En la exploración ocular para elegir las lentes multifocales hay que valorar:<br />
</p>
<ul>
  <li><em><strong>Aspecto refractivo</strong></em>: si el paciente es miope, hipermétrope o posee astigmatismo.<br />
</li>
</ul>
<ul>
  <li dir="ltr">
    <p dir="ltr"><em><strong>Exploración pupilar</strong></em>: muy importante para evitar la presencia de fenómenos disfotópsicos (halos y destellos) que disminuyen la agudeza visual final. El rango de seguridad va de 3 a 5 mm, en donde todas las lentes multifocales cumplen las expectativas. En pupilas &gt; 5.5 mm se deben implantar LIO refractivas-difractivas (por ej. REsTOR) ya que con la pupila dilatada utiliza la zona refractiva periférica &nbsp;y se comporta como una lente monofocal. En pupilas escotópicas &lt; 2.5 mm se debe implantar una lente difractiva.<br />
</p>
  </li>
</ul>
<ul>
  <li dir="ltr">
    <p dir="ltr"><em><strong>Exploración de la función visual</strong></em>: se debe realizar fondo de ojo con lente de contacto y PAM o Lotmar (en cataratas severas puede subestimar la capacidad visual del paciente)<span class="Estilo1">1,2</span>.</p>
  </li>
</ul>
<br />

<p dir="ltr">Se pueden utilizar un <strong>cuestionario</strong> previo a la charla con el paciente, de manera de captar las preferencias o prioridades del mismo con esta tecnología. El &ldquo;chair time&rdquo; es muy importante ya que el glare y los halos siguen siendo la queja más frecuente que los pacientes refieren<span class="Estilo1">3</span>. </p>
<br />

<p dir="ltr">En pacientes con glaucoma se deben implantar siempre y cuando no haya glaucoma avanzado o de difícil manejo, pacientes con sospecha de glaucoma y con hipertensión ocular sin daño en el nervio óptico ni en el campo visual, glaucoma con defectos leves que estén bien controlados y estables. Las lentes elegidas deben ser: asféricas o libres de aberración esférica, difractivas, de acrílico hidrofóbico y con bordes cuadrados<span class="Estilo1">4,5</span>. &nbsp;</p>
<br />
<br />

<p dir="ltr"><strong>BIBLIOGRAFÍA  IMPLANTE DE LENTE MULTIFOCAL:</strong></p>
<br />

<ol>
  <li dir="ltr">
    <p dir="ltr">Centurión V, Nicoli C, Villar Kuri J. El libro del cristalino de las américas. Brasil 2007: 26: 275-288.</p>
  </li>
  <li dir="ltr">
    <p dir="ltr">Centurión V, Nicoli C, Villar Kuri J. El libro del cristalino de las américas. Brasil 2007: 28: 303-307.</p>
  </li>
  <li dir="ltr">
    <p dir="ltr"><a href="http://www.ncbi.nlm.nih.gov/pubmed/?term=Calladine%20D%5BAuthor%5D&amp;cauthor=true&amp;cauthor_uid=22972061">Calladine D</a> et al. Multifocal versus monofocal intraocular lenses after cataract extraction. Cochrane Database Syst Rev. 2012 Sep 12;9.</p>
  </li>
  <li dir="ltr">
    <p dir="ltr">Lorente R. Catarata y glaucoma. Monografía SECOIR. España 2012; 48: 314-327.</p>
  </li>
  <li dir="ltr">
    <p dir="ltr"><a href="http://www.ncbi.nlm.nih.gov/pubmed/?term=Paletta%20Guedes%20RA%5BAuthor%5D&amp;cauthor=true&amp;cauthor_uid=21507514">Paletta Guedes RA</a>. Multifocal, toric, and aspheric intraocular lenses for glaucoma patients. <a href="http://www.ncbi.nlm.nih.gov/pubmed/21507514#">J Fr Ophtalmol.</a> 2011 Jun;34(6):387-91.</p>
  </li>
</ol>
<br />

</body>
</html>
