<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Documento sin t&iacute;tulo</title>
<style type="text/css">
<!--
.Estilo22 {font-weight: bold}
.Estilo24 {font-weight: bold}
-->
</style>
</head>

<body>

  
<ul>
      <li>Pseudoexfoliación: incrementa el riesgo de padecer catarata 2.25 veces más y es el segundo factor predictor de cirugía de catarata (luego de la opacidad lenticular)1. Da mala dilatación pupilar y dificultad en la realización de la capsulorrexis con debilitamiento de las estructuras zonulares. Mayor inflamación y picos tensionales en el postoperatorio inmediato.</li>
      <li>Zonulopatía: Observar si hay arrugamiento capsular, asimetría de profundidad de ambas cámaras anteriores, de largo axial o de grosor cristaliniano entre ambos ojos. Iridodonesis: buscar este signo golpeando la mesa de la lámpara de hendidura, dicha maniobra se hace más evidente con la pupila en miosis o contraída con una gota de pilocarpina al 2%. Facodonesis: la misma se hace más evidente con el paciente con la pupila dilatada. Subluxación cristaliniana: que se presenta típicamente en localización inferior2.</strong></li>
      <li>Coma total corneal &gt; ± 0.5 μm (VN &lt; ± 0.5 μm): cuanto mayor su valor, mayor asimetría e irregularidad corneal3. </strong></li>
      <li>Queratocono con astigmatismo irregular: moño asimétrico en queratocono moderado o avanzado o no estable, presencia de trefoil &gt; ± 0.4 mm, quatrefoil &gt; ± 0.30 mm y HOA 5to orden &gt; ± 0.20 mm. En estos casos en que la biometría es dificultosa, una opción válida es implantar la lente tórica como &ldquo;piggyback&rdquo;  (situada en surco), luego de haber colocado una lente monofocal en la bolsa capsular4. Por ello, si el paciente posee aberraciones corneales de 3er. Orden como el &ldquo;coma&rdquo; el implante de la lente tórica ocasionará (junto con el efecto de la incisión corneal) un aumento de las aberraciones y una disminución de la sensibilidad al contraste5. &nbsp;</strong></li>
      <li>Cicatrices corneales: que comprometan el eje pupilar o sean de gran tamaño.</li>
      <li>Patología macular con afectación foveolar: edema macular, degeneración macular asociada a la edad, entre otras.</li>
</ul>
</ul>
<strong><br />
</strong>
<p dir="ltr"><strong>BIBLIOGRAFÍA CONTRAINDICACIÓN PARA IMPLANTE DE LENTE TÓRICA: </strong></p>
<ol>
  <li dir="ltr">
    <p dir="ltr">Ekström C. Pseudoexfoliation and cataract surgery: a population-based 30-year follow-up study. Acta Ophthalmol. 2015 Dec;93(8):774-7.</strong>    </p>
  </li>
  <li dir="ltr"><p dir="ltr">Poyales Galan F. Complicaciones en la cirugía del cristalino. Monografía SECOIR. 2017; 4: 33-43.</strong></p>
  </li>
  <li dir="ltr">
    <p dir="ltr">Maeda N. Evaluación de la calidad óptica corneal para los LIOs premium con el Pentacam HR en tomografía corneal basada en la elevación. Londres Jaypee-Highlights Medical Publishers. 2012; 197-203.</p>
  </li>
  <li dir="ltr">
    <p dir="ltr">Levy P. Les implants toriques. Journal Français d´ Ophtalmologie. 2012; 35: 220-225.</p>
  </li>
  <li>
    <p dir="ltr">Hayashi K, et al. <a href="https://www.ncbi.nlm.nih.gov/pubmed/22608030">Higher-order aberrations and visual function in pseudophakic eyes with a toric intraocular lens.</a> J Cataract Refract Surg. 2012; 38 (7): 1156-65.</p>
  </li>
</ol>
</body>
</html>
