/*######## Smart Green ########*/
.legend2 {
    display: block;
    width: 100%;
    padding: 2px;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: inherit;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

.fieldset2 {
    padding: 5px;
    margin: 0;
    border: 1px solid #c0c0c0;
}

.inline {
  display:inline-block;
}

.smart-green {
    margin-left:auto;
    margin-right:auto;

    max-width: 900px;
    /* background-image: url('../images/pattern.png');
  background-attachment: fixed;
  background-position: center center;
  background-repeat: repeat;*/
    background: #dcdcdc;
    /*padding: 0px 30px 20px 30px;*/
    font: 11px 'Open Sans',"Trebuchet MS",Arial, Helvetica, sans-serif;
    color: black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    
}
.smart-green legend {
    font: 15px 'Open Sans',"Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 5px 0px 5px 20px;
    display: block;
    margin-bottom: 5px;
    color: #FFF;
    background: #337ab7;
    text-shadow: 1px 1px 1px #949494;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-bottom:1px solid #89AF4C;
    width:100%;

}
.smart-green h1>span {
    display: block;
    font-size: 11px;
    color: #FFF;
}

.smart-green label {
    display: block;
    margin: 0px 0px 5px;
}
.smart-green label>span {
    float: left;
    margin-top: 10px;
    color: #5E5E5E;
}
.smart-green input[type="text"], .smart-green input[type="email"], .smart-green input[type="number"] .smart-green textarea, .smart-green select {
    color: #555;
    
    line-height:15px;
    width: 100%;
    padding: 0px 0px 0px 10px;
    margin-top: 5px;
    border: 1px solid #E5E5E5;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    font: normal 'Open Sans',"Trebuchet MS",Arial, Helvetica, sans-serif;
}
.smart-green textarea{
    height:50px;
    padding-top: 10px;
    width:100%;
}
.smart-green select {
    width:90%;
   
}
.smart-green .button {
    background-color: #337ab7;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-border-radius: 5px;
    border: none;
    padding: 10px 25px 10px 25px;

    color: #FFF;
    text-shadow: 1px 1px 1px #949494;
}
.smart-green .button:hover {
    background-color:#215888;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    margin-top: 5px;
}
input[type="number"] {
    -moz-appearance: textfield;
    margin-top: 5px;
}