
{% load static from staticfiles %}


    <div class='row'>       
        <div class="col-xs-12">
            <img class="img-propagandas" src="{% static 'images/images1.jpg' %}">
        </div>
    </div>
    <div class='row'>       
        <div class="col-xs-12">
            <img class="img-propagandas" src="{% static 'images/images2.jpg' %}">
        </div>
    </div>
    <div class='row'>       
        <div class="col-xs-12">
            <img class="img-propagandas" src="{% static 'images/images3.jpg' %}">
        </div>
    </div>
    <div class='row'>       
        <div class="col-xs-12">
            <img class="img-propagandas" src="{% static 'images/images4.jpg' %}">
        </div>  
    </div>



