{% load static from staticfiles %}
<div id="congresos" class="carousel slide" data-ride="carousel">
<ol class="carousel-indicators">
    <li data-target="#congresos" data-slide-to="0" class="active"></li>
    <li data-target="#congresos" data-slide-to="1"></li>
    <li data-target="#congresos" data-slide-to="2"></li>
    <li data-target="#congresos" data-slide-to="3"></li>
    <li data-target="#congresos" data-slide-to="4"></li>
    <li data-target="#congresos" data-slide-to="5"></li>
    <li data-target="#congresos" data-slide-to="6"></li>
    <li data-target="#congresos" data-slide-to="7"></li>
    <li data-target="#congresos" data-slide-to="8"></li>
    
</ol>
<div class="carousel-inner">
    <div class="item active">
        <img class ="foto"  src="{% static 'images/congresos/congr01.jpg' %}" alt="First slide">
        <div class="carousel-caption">
            <h4>2017</h4>
            <p>CONGRESO CONJUNTO DE OFTALMOLOGÍA</p>
        </div>
    </div>
    <div class="item">
        <img class ="foto"  src="{% static 'images/congresos/congr10.jpg' %}" alt="First slide">
        <div class="carousel-caption">
            <h4>2016</h4>
            <p>IX CONGRESO ALACCSA</p>
        </div>
    </div>
    <div class="item">
        <img class ="foto"  src="{% static 'images/congresos/congr11.jpg' %}" alt="Second slide">
        <div class="carousel-caption">
            <h4>2016</h4>
            <p>IX CONGRESO ALACCSA</p>
        </div>
    </div>
    <div class="item">
        <img class ="foto"  src="{% static 'images/congresos/congr20.jpg' %}" alt="Third slide">
        <div class="carousel-caption">
            <h4>2014</h4>
            <p>VII CONGRESO ALACCSA</p>
        </div>
    </div>
     <div class="item">
        <img class ="foto"  src="{% static 'images/congresos/congr21.jpg' %}" alt="Third slide">
        <div class="carousel-caption">
            <h4>2014</h4>
            <p>VII CONGRESO ALACCSA</p>
        </div>
    </div>
    <div class="item">
        <img class ="foto"  src="{% static 'images/congresos/congr30.jpg' %}" alt="Second slide">
        <div class="carousel-caption">
            <h4>2011</h4>
            <p>REVISTA REFRACTIVA</p>
        </div>
    </div>
    <div class="item">
        <img class ="foto"  src="{% static 'images/congresos/congr40.jpg' %}" alt="Third slide">
        <div class="carousel-caption">
            <h4>2010</h4>
            <p>REVISTA OFTALMOLOGÍA CLÍNICA Y EXPERIMENTAL</p>
        </div>
    </div>
     <div class="item">
        <img class ="foto"  src="{% static 'images/congresos/congr50.jpg' %}" alt="Third slide">
        <div class="carousel-caption">
            <h4>2010</h4>
            <p>ALACCSA-R</p>
        </div>
    </div>
    <div class="item">
        <img class ="foto"  src="{% static 'images/congresos/congr51.jpg' %}" alt="Third slide">
        <div class="carousel-caption">
            <h4>2010</h4>
            <p>ALACCSA-R</p>
        </div>
    </div>
</div>
</div>




