<div id="toc" style="display: none;width:90%;margin-top: 20px;">
              <h5>Evaluador de Cirugía de Catarata</h5>
                <p>Registro derecho de autor D.N.D.A. Formulario Nº 197586 - Expediente 877911 </p>
                <p>El <strong>CATAMASTER</strong> fue concebido como una herramienta de ayuda para los Oftalmólogos en la evaluación preoperatoria de cirugía de catarata. Es por ello que se debe utilizar conjuntamente con un correcto examen oftalmológico y un delicado análisis de los estudios complementarios de cada paciente. 
                </p>

                <p><strong>LICENCIA</strong></p>
                <p>Los resultados brindados por el evaluador son una ayuda complementaria al criterio médico personal del usuario. Bajo ninguna circunstancia deben tomarse estos resultados como una decisión definitiva, no pudiendo garantizar los mismos en cada paciente. Los únicos responsables de las decisiones en cirugía de catarata son los Médicos Oftalmólogos intervienientes. 
                </p>

                    <p>Al utilizar este evaluador de catarata usted se compromete a no reclamar a los autores de <strong>CATAMASTER</strong> por daños o perjuicios ocasionados a terceros por el uso de esta herramienta.
                    </p>


</div>